h1 {
  font-family: 'Oswald';
}

h2 {
  font-family: 'Oswald';
}

body {
  font-family: 'Open Sans';
  color: darkblue;
  background-color: ivory;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
